body {
  background-image: url("/public/images/nature.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* .css-1d3z3hw-MuiOutlinedInput-notchedOutline,
.css-1d3z3hw-MuiOutlinedInput-notchedOutline:hover,
.css-1d3z3hw-MuiOutlinedInput-notchedOutline:focus {
  border-width: 0 !important;
} */
